
body {
  background-color: #f5f5f5;
}

.navbar {
  background-color: #1a237e;
  color: #ffffff;
}

.carousel-indicators li {
  background-color: #1a237e;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #1a237e;
}

.card {
  background-color: #ffffff;
}

.accordion-item {
  background-color: #ffffff;
  border-color: #1a237e;
}

.accordion-button:not(.collapsed) {
  background-color: #1a237e;
  color: #ffffff;
}

.accordion-button:not(.collapsed)::after {
  background-color: #ffffff;
}

.accordion-button:hover,
.accordion-button:focus {
  background-color: #000051;
  color: #ffffff;
}

.btn-primary {
  background-color: #1a237e;
  border-color: #1a237e;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #000051;
  border-color: #000051;
}

.container-footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.hero-section {
    background-image: url(img/night-party-4k-concert-night-club-fans.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-section .btn {
    font-size: 16px;
    padding: 10px 30px;
}


.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.container h2{
    text-align: center;
    padding: 20px;
}


.event-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}


.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.event-card .event-details {
    padding: 15px;
    text-align: center;
}

.event-card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.event-card p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.event-card a {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    text-decoration: none;
}

.contact-form {
  background-color: #f8f9fa;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form textarea {
  border: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.contact-form input[type="text"]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.contact-form input[type="submit"] {
  background-color: #1a237e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #1a237e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  opacity: 0;
  animation: fadeIn 1s forwards;
}